<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Products</title>
    <!-- See configuration in WebMvcConfig.java -->
    <link href="/css/app.css" rel="stylesheet" media="screen"/>
    <link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script data-th-src="@{/webjars/jquery/jquery.min.js}"></script>
    <script data-th-src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script data-th-src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="modalProvider" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change provider</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-th-action="@{/changeProductProvider}" method="POST">
                <div class="modal-body">
                    <select name="providerName">
                        <option data-th-each="provider : ${providers}" data-th-value="${provider}"
                                data-th-text="${provider}">...
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="hidden"
                           name="prodID"
                           data-th-value="*{prodID}"/>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
