<!DOCTYPE HTML>
<html>
<head data-th-replace="fragments/headers::head(title='Find Products')"></head>

<body>

<div class="container">
    <!-- replace with top fragment from productsPage.html -->
    <div data-th-replace="productsPage::top"></div>

    <h2>Find Products</h2>
    <!--    <div data-th-if="${errorMessage!=null}"
            style="color:red;font-style:italic" data-th-utext="${errorMessage}">..</div> -->

    </form>
    <form data-th-action="@{/productsByProvider}" method="POST">
        <div class="form-group">
            <select name="providerName">
                <option data-th-each="provider : ${providers}" data-th-value="${provider}"
                        data-th-text="${provider}">...
                </option>
            </select>
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Provider</th>
            </tr>
            <tr data-th-each="productInfo : ${allProducts}">
                <td data-th-utext="${productInfo.key.name}">..</td>
                <td data-th-utext="${productInfo.key.price}">..</td>
                <td data-th-utext="${productInfo.value}">..</td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>